th{background-color:#293874;color:white;font-family:Verdana;font-size:12px;font-style:bold}
#thlink{color:#AECFE0}
#text{background-color:white}
a{color:blue}
a:hover{color:green}
a:visited{white}
#color1{background-color:#fa5046}
#color2{background-color:#f59696}
#color3{background-color:#f5edae}
#color4{background-color:#8cc855}
#wlink{color:blue;visited:green}
#latd{font-size:13px}
#tdreport{font-size:15px}
body{background-color:white;background-image: url(images/back_right.gif);background-repeat:repeat-x;font-family:Verdana;font-size:12px;}
#title{position:absolute;left:0;top:0}
td{font-family:Verdana;font-size:12px;}

#headstyle{color:#AECFE0;font-family:Verdana;font-size:14px;font-style:bold;}
#pagetitle_full{position:absolute;left:35%;top:60}
#pagebar_full{position:absolute;left:75%;top:62;z-index:10}
#pagebar_full_logo{position:absolute;left:85%;top:6}

#pagetitle_full2{position:absolute;left:35%;top:60}
#pagebar_full2{position:absolute;left:75%;top:62;z-index:10}
#pagebar_full2_logo{position:absolute;left:85%;top:6}

#pagetitle_full1{position:absolute;left:40%;top:60}
#pagebar_full1{position:absolute;left:75%;top:62;z-index:10}
#pagebar_full1_logo{position:absolute;left:85%;top:6}

#pagetitle_menu{position:absolute;left:40%;top:60}
#pagebar_menu{position:absolute;left:67%;top:62}
#pagebar_menu_logo{position:absolute;left:80%;top:6}

#pagetitle_menu1{position:absolute;left:30%;top:60}
#pagebar_menu1{position:absolute;left:67%;top:62}
#pagebar_menu1_logo{position:absolute;left:80%;top:6}

A.headerLine{color:#AECFE0;font-family:Verdana;font-size:10px;font-style:bold}
A.headerLine:hover{color:red}

#pagetitle_advanced{position:absolute;left:25%;top:60}
#pagebar_advanced{position:absolute;left:80%;top:62}
#pagebar_advanced_logo{position:absolute;left:82%;top:6}

#pagetitle_advisory{position:absolute;left:40%;top:60}
#pagebar_advisory{position:absolute;left:80%;top:62}
#pagebar_advisory_logo{position:absolute;left:80%;top:6}

#spider{position:absolute;left:-2;top:82;}
